# World Development Indicators Dataset

## Contents
1. Setup

## 1. Setup

In [0]:
wdi_part1of2_filepath = 'https://github.com/datalab-datasets/world-development-indicators/blob/master/WDIData_part1of2.csv?raw=true'
wdi_part2of2_filepath = 'https://github.com/datalab-datasets/world-development-indicators/blob/master/WDIData_part2of2.csv?raw=true'

### `wdi` using `read_csv` from pandas (Python)

- http://pandas.pydata.org/pandas-docs/version/0.19/generated/pandas.read_csv.html

In [2]:
import pandas as pd
pd.__version__

'0.25.3'

In [0]:
import pandas as pd
wdi_part1of2_pdf = pd.read_csv(wdi_part1of2_filepath)
wdi_part2of2_pdf = pd.read_csv(wdi_part2of2_filepath)

In [0]:
wdi_data_pdf = \
pd.concat([wdi_part1of2_pdf,
           wdi_part2of2_pdf],
          axis=0
          ) \
  .rename(columns={'Country Code':'country_code', 
                   'Indicator Code':'indicator_code'}) \
  .drop(axis=1, 
        labels=['Country Name',
                'Indicator Name',
                'Unnamed: 61']) \
  .set_index(['country_code',
              'indicator_code'])

In [37]:
wdi_data_pdf.info()

<class 'pandas.core.frame.DataFrame'>
MultiIndex: 401016 entries, (ARB, PA.NUS.PPP.05) to (ZWE, SH.DYN.AIDS.FE.ZS)
Data columns (total 57 columns):
1960    34646 non-null float64
1961    38504 non-null float64
1962    40438 non-null float64
1963    40738 non-null float64
1964    41260 non-null float64
1965    44146 non-null float64
1966    43808 non-null float64
1967    45298 non-null float64
1968    45143 non-null float64
1969    46858 non-null float64
1970    79998 non-null float64
1971    86577 non-null float64
1972    89660 non-null float64
1973    89423 non-null float64
1974    90945 non-null float64
1975    95139 non-null float64
1976    97554 non-null float64
1977    101394 non-null float64
1978    101630 non-null float64
1979    102401 non-null float64
1980    107275 non-null float64
1981    110742 non-null float64
1982    111958 non-null float64
1983    111950 non-null float64
1984    112923 non-null float64
1985    114375 non-null float64
1986    115108 non-null float64
1987    116462 non-null float64
1988    116205 non-null float64
1989    119514 non-null float64
1990    144912 non-null float64
1991    145105 non-null float64
1992    151255 non-null float64
1993    153806 non-null float64
1994    156288 non-null float64
1995    166565 non-null float64
1996    167081 non-null float64
1997    168531 non-null float64
1998    170189 non-null float64
1999    176234 non-null float64
2000    191892 non-null float64
2001    184751 non-null float64
2002    189222 non-null float64
2003    189198 non-null float64
2004    195210 non-null float64
2005    207122 non-null float64
2006    206884 non-null float64
2007    210742 non-null float64
2008    209030 non-null float64
2009    209999 non-null float64
2010    220353 non-null float64
2011    213435 non-null float64
2012    213273 non-null float64
2013    206018 non-null float64
2014    206432 non-null float64
2015    180239 non-null float64
2016    78472 non-null float64
dtypes: float64(57)
memory usage: 175.9+ MB

In [38]:
wdi_data_pdf.head()

                                1960  1961  1962  ...       2014  2015  2016
country_code indicator_code                       ...
ARB          PA.NUS.PPP.05       NaN   NaN   NaN  ...        NaN   NaN   NaN
             PA.NUS.PRVT.PP.05   NaN   NaN   NaN  ...        NaN   NaN   NaN
             EG.CFT.ACCS.ZS      NaN   NaN   NaN  ...  85.244971   NaN   NaN
             EG.ELC.ACCS.ZS      NaN   NaN   NaN  ...  88.039125   NaN   NaN
             EG.ELC.ACCS.RU.ZS   NaN   NaN   NaN  ...  77.407269   NaN   NaN

[5 rows x 57 columns]

Notice that the datatype assigned to each column matches our expectations for working with that column.

In [0]:
%python
wdi_pdf = \
pd.read_csv(get_filepath(dirpath=wdi_basedir,
                         regex='WDIData.csv')
           ) \
  .rename(columns={'Country Code':'country_code', 
                   'Indicator Code':'indicator_code'}) \
  .drop(axis=1, 
        labels=['Country Name',
                'Indicator Name']) \
  .set_index(['country_code',
              'indicator_code'])

In [0]:
%python
wdi_pdf.head(3)

__The End__